
# directories (by name)

/.bundle/
/.bzr/
/.config/
/.git/
/.svn/
/.vscode/
/.yardoc/

/_yardoc/

/InstalledFiles/
/build/
/coverage/
/doc/
/lib/bundler/man/
/old-gems/
/pkg/
/rdoc/
/spec/reports/
/test/tmp/
/test/version_tmp/
/tmp/
/vendor/bundle/

InstalledFiles
coverage
pkg
rdoc


# directories (by pattern)


# files (by name)

.DS_Store
.bundle
.config
.repl_history
.ruby-version
.rvmrc
.yardoc

_yardoc

Gemfile.lock

/spec/examples.txt


# files (by pattern)

*~
*.*~
.dat*
*.b64
*.gem
*.rbc
*.scc
*.suo
*.swp
*.tmp
*.zip

